<%= form_with(model: @employee, url: employees_path) do |form| %>
  
  <%= form.label :email %>
  <%= form.email_field :email %>
  
  <%= form.label :phone %>
  <%= form.text_field :phone %>
  

  <div>
    <%= form.submit %>
  </div>
<% end %>
